<!DOCTYPE html>
<html>
  <head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CIP Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/theme/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="/theme/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="/theme/css/font.css">
    <!-- Google fonts - Muli-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/theme/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/theme/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/theme/img/favicon.ico">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <header class="header">   
      <nav class="navbar navbar-expand-lg">
        <div class="search-panel">
          <div class="search-inner d-flex align-items-center justify-content-center">
            <div class="close-btn">Close <i class="fa fa-close"></i></div>
            <form id="searchForm" action="#">
              <div class="form-group">
                <input type="search" name="search" placeholder="What are you searching for...">
                <button type="submit" class="submit">Search</button>
              </div>
            </form>
          </div>
        </div>
        <div class="container-fluid d-flex align-items-center justify-content-between">
          <div class="navbar-header">
            <!-- Navbar Header--><a href="index.html" class="navbar-brand">
              <div class="brand-text brand-big visible text-uppercase"><strong class="text-primary">Crime </strong><strong> Investigation</strong></div>
              <div class="brand-text brand-sm"><strong class="text-primary">C</strong><strong>I</strong></div></a>
            <!-- Sidebar Toggle Btn-->
            <button class="sidebar-toggle"><i class="fa fa-long-arrow-left"></i></button>
          </div>
          <div class="right-menu list-inline no-margin-bottom">    
            <!-- Log out               -->
            <div class="list-inline-item logout"><a id="logout" href="/logout" class="nav-link"> <span class="d-none d-sm-inline">Logout </span><i class="icon-logout"></i></a></div>
          </div>
        </div>
      </nav>
    </header>
    <div class="d-flex align-items-stretch">
      <!-- Sidebar Navigation-->
      <nav id="sidebar">
        <!-- Sidebar Header-->
        <div class="sidebar-header d-flex align-items-center">
          <div class="avatar"><img src="/theme/img/avatar-6.jpg" alt="..." class="img-fluid rounded-circle"></div>
          <div class="title">
            <h1 class="h5"><%= username %></h1>
            <p>Officer</p>
          </div>
        </div>
        <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
        <ul class="list-unstyled">
          <li class="active"><a href="#"> <i class="icon-home"></i>Home </a></li>
          <li><a href="/logout"> <i class="icon-logout"></i>Logout</a></li>
        </ul>
      </nav>
      <!-- Sidebar Navigation end-->
      <div class="page-content">
        <!-- Page Header-->
        <div class="page-header">
          <div class="container-fluid">
            <h2 class="h5">Dashboard</h2>
          </div>
        </div>
        <section class="no-padding-top">
          <div class="container-fluid">
              <!-- Form Elements -->
              <div class="col-lg-12">
                <div class="block">
                  <div class="title"><strong>File New Case</strong></div>
                  <div class="block-body">
                    <form method="POST" action = "/home/create_fir" class="form-horizontal" id = "myForm">
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Name of Complainant</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="complainant_name">
                        </div>
                      </div>
                      <div class="line"></div>
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Address of Complainant, Line 1:</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name = "address_1">
                        </div>
                      </div>
                      <div class="line"></div>
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Address of Complainant, Line 2:</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="address_2">
                        </div>
                      </div>
                      <div class = "line"></div>
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Date of Incident</label>
                        <div class="col-sm-9">
                          <input type="date" class="form-control" name="date">
                        </div>
                      </div>
                      <div class="line"></div>
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Official Statement</label>
                        <div class="col-sm-9">
                          <textarea class="form-control" name="statement" rows="5"></textarea>
                        </div>
                      </div>
                      <div class="line"></div>
                      <div class="form-group row">
                        <div class="col-sm-9 ml-auto">
                          <button type ="button" onclick = "resetFIR()" class="btn btn-secondary">Clear Form</button>
                          <button type="submit" class="btn btn-primary">Create FIR</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <footer class="footer">
          <div class="footer__block block no-margin-bottom">
            <div class="container-fluid text-center">
              <!-- Please do not remove the backlink to us unless you support us at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
              <p class="no-margin-bottom">2019 &copy; Crime Investigation Portal. Design by <a href="https://bootstrapious.com/p/bootstrap-4-dark-admin">Bootstrapious</a>.</p>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- JavaScript files-->
    <script src="/theme/vendor/jquery/jquery.min.js"></script>
    <script src="/theme/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="/theme/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/theme/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/theme/vendor/chart.js/Chart.min.js"></script>
    <script src="/theme/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="/theme/js/front.js"></script>
    <script>
      function resetFIR() {
        document.getElementById("myForm").reset();
      }
      </script>
  </body>
</html>